  body, html {
    margin: 0;
    background-color: #F2F2F2;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    display: flex;
    float: right;
  }

  li a {
    font-family: arial;
    display: block;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #wrapper {
    width: 100vw;
    height: 100vh;
    background-color: white;
  }

  #loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4
  }

  #alert {
    z-index: 6;
  }

  #credits {
    position: absolute;
    top: 0%;
    left: 0%;
    max-width: 100px;
    z-index: 8;
  }

  #credits img {
    max-width: 75vh;
  }

  #alert {
    position: absolute;
    top: 40%;
    left: 60%;
    max-width: 100px;
    z-index: 10;
  }

  #enter {
    position: absolute;
    margin-top: 40%;
    margin-left: 40%;
    font-family: arial;
    font-size: 5em;
    padding: 0.1em;
    -webkit-animation: pulse 0.2s infinite;
    animation: pulse 0.2s infinite;
    z-index: 12;
  }

  #enter a {
    color: black !important;
    text-decoration: none;
    border: 6px solid black;
  }

  #alert img {
    max-width: 75vh;
  }

  @keyframes pulse {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
  }

  .sticky img {
    max-height: 90vh;
  }

  #title {
    justify-content: center;
    align-items: center;
  }

  #img1 {
    justify-content: flex-start;
    top: 5vh;
  }

  #did1 {
    justify-content: flex-start;
    max-width: 30vh;
    top: 55vh;
  }

  #img2 {
    justify-content: center;
    top: 0vh;
  }

  #did2 {
    justify-content: center;
    top: 70vh;
  }

  #img3 {
    justify-content: flex-end;
    top: 15vh;
  }

  #did3 {
    justify-content: flex-end;
    top: 40vh;
  }
